<h1><%= format_file_trace(@path) %></h1>

<h2>Folders:</h2>
<% if @folders.count > 0 %>
  <ul>
    <% @folders.each do |folder| %>
      <li><%= link_to folder.name, folder_show_path(folder.path) %><br />
          <%= link_to "Copy", copy_start_path(source_path: folder.path, name: folder.name) %><br /><br /></li>
    <% end %>
  </ul>
<% end %>

<br /><hr /><br />

<h2>Files:</h2>
<% if @files.count > 0 %>
  <ul>
    <% @files.each do |file| %>
      <li><%= file.name %><br />
          <%= file.path %><br />
          <% new_path = file.path.chomp(file.name).chomp("/") %>
          <%= new_path %><br />
          <%= link_to "Copy", copy_start_path(source_path: new_path, name: file.name) %><br /><br /></li>
    <% end %>
  </ul>
<% end %>
